<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Win32Player.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IOutputOperationService" />
                <binding name="NetNamedPipeBinding_IOutputOperationService1" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/OutputOperationService"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IOutputOperationService"
                contract="OutputOperationServiceReference.IOutputOperationService"
                name="NetNamedPipeBinding_IOutputOperationService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/Process5864/OutputOperationService"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IOutputOperationService1"
                contract="OutputOperationServiceReference.IOutputOperationService"
                name="NetNamedPipeBinding_IOutputOperationService1">
                <identity>
                    <userPrincipalName value="CarefreeLi@boyaa.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
    <userSettings>
        <Win32Player.Properties.Settings>
            <setting name="CurrentProcessMaxId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastStartUpItemName" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="Engine_show_image_rect" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="CurrentScriptPath" serializeAs="String">
                <value />
            </setting>
            <setting name="IsOpenLogChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainRestoreBounds" serializeAs="String">
                <value>0,0,0,0</value>
            </setting>
        </Win32Player.Properties.Settings>
    </userSettings>
</configuration>